@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}
    <div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category Table</h4>
                    <a asp-action="Create" class="btn btn-github mt-3">Create Category</a>
                    <div class="table-responsive">
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>
                                        Name
                                    </th>

                                    <th>
                                        Setting
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Blog blog in Model)
                                {
                                    <tr>
                                        <td class="py-1 image">
                                            <img style="width:150px !important;height:90px !important ;border-radius:0;" src="~/img/services/@blog.Image" alt="image" />
                                        </td>
                                        <td class="py-1">
                                            <h4>@blog.Name</h4>
                                        </td>
                                        <td>
                                            <a asp-controller="BlogCrud" asp-action="Edit" asp-route-id="@blog.Id" class="btn btn-primary "><i class="mdi mdi-table-edit">Edit</i></a>
                                            <a asp-controller="BlogCrud" asp-action="Delete" asp-route-id="@blog.Id" class="btn btn-danger"><i class="mdi mdi-delete-forever">Delete</i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

