
#bioNavbar{
    background-color: #F5F5F5;
    .navMenu{
        display: flex;
        justify-content: space-between;
        .contactBio{
           
            ul{
                display: flex;
                margin-top: 11px;
                margin-bottom: 15px;
                
                li{
                    list-style: none;
                    margin-left: 20px;
                    i{
                        color: #A4AAB3;
                        font-size: 14px;
                        margin-right: 10px;
                    }
                    a{
                        color: #999;
                    }
                    span{
                        color: #999;
                    }
                }
            }
        }
        .socialMediaBio{
            .searchForm{
                position: absolute;
                left: 80px;
                display: flex;
                input{
                    width: 170px;
                    border-radius: 0px;
                    
                    height: 35px;
                }
                i{
                    color: #999;
                    cursor: pointer;
                    font-size: 21px;
                    margin-top: 7px;
                }
            }
           
            ul{
                display: flex;
                margin-top: 11px;
                margin-bottom: 15px;
                li{
                    list-style: none;
                    margin-left: 25px;
                    cursor: pointer;
                    a{
                        color: #999;
                        width: 14px;
                        &:hover{
                            color: #777;
                        }
                       
                    }
                    .searchIcon{
                        color: #999;
                        width: 14px;
                        
                        &:hover{
                            color: #777;
                        }
                    }
                }
            }
        }
    }
    
}
.downResponsive{
    i{
        color: #999;
        font-size: 40px;
        cursor: pointer;
        display: none;
    }
    
}

@media only screen and (max-width:700px){
    .downResponsive{
        i{
            display: block;
        }
    }
    #bioNavbar{
        display: none !important;
    }

}
#responsiveHeader{
    display: none;
}
@media only screen and (max-width:770px){
    #responsiveHeader{
        display: block;  
    }
    .headerlg{
        display: none;
    }
}
#responsiveNav{
    background-color: #F5F5F5;
    .responsiveRow{
        .socialMediaBioResponsive{
            display: flex;
            justify-content: center;
            div{
                .searchFormResponsive{
                    position: relative;
                    left: 41px;
                    top: 7px;
                    display: flex;
                    input{
                        width: 170px;
                        border-radius: 0px;
                        
                        height: 35px;
                    }
                    i{
                        color: #999;
                        cursor: pointer;
                        font-size: 21px;
                        margin-top: 7px;
                    }
                }
               
                ul{
                    display: flex;
                    margin-top: 11px;
                    margin-bottom: 15px;
                    padding: 0px;
                    li{
                        list-style: none;
                        margin-left: 25px;
                        cursor: pointer;
                        a{
                            color: #999;
                            width: 14px;
                            &:hover{
                                color: #777;
                            }
                           
                        }
                        .searchIconResponsive{
                            color: #999;
                            width: 14px;
                            
                            &:hover{
                                color: #777;
                            }
                        }
                    }
                }
            }
            
          }
        .contactBioResponsive{
            display: flex;
            justify-content: center;
            div{
                
            ul{
                margin-top: 11px;
                margin-bottom: 15px;
                
                li{
                    list-style: none;
                    margin-left: 20px;
                    i{
                        color: #A4AAB3;
                        font-size: 14px;
                        margin-right: 10px;
                    }
                    a{
                        color: #999;
                    }
                    span{
                        color: #999;
                    }
                }
            }
            }
           
        }
    }
        
        
    
}
.header-logo{
    h1{
        a{
            text-decoration: none;
            color: #1E69B8;
        }
    }
}
#responsiveHeader{
    .logoandburdger{
        display: flex;
        justify-content: space-between;
        .burger{
            cursor: pointer;
        }
        .cancel{
             cursor: pointer;
        }
    }
    .responsiveUl{
        
        ul{
            .mainLiResponsiveD{
                background-color: #F5F5F5;
                list-style: none;
                font-size: 18px;
                height: 56px;
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: space-between;
                i{
                    font-size: 35px;
                    color: #777;
                }
                
            }
            .mainLiResponsive{
                background-color: #F5F5F5;
                list-style: none;
                font-size: 18px;
                height: 56px;
                display: flex;
                align-items: center;
                .inLiResponsiveD{
                    background-color: #F5F5F5;
                    list-style: none;
                    font-size: 18px;
                    height: 56px;
                    display: flex;
                    align-items: center;
                }
            }
            .pre-ul{
                border-width: thin !important;
                border: #777 solid ;   
                
                ul{
                    padding-left: 0px;
                    li{
                        list-style: none;
                                                                  height: 45px;
                        display: flex;
                        align-items: center;
                    }
                    hr{
                        margin-top: 4px;
                        margin-bottom: 4px;
                    }
                }
                
            }
            }
           
           
            
            a{
                cursor: pointer;
                text-decoration: none;
                color: #777;
                
            }
            
                
        }
}   


.header-nav{
    #main-ul{

        margin-top: 10px;
        display: flex;
        #home{
            padding-bottom: 40px;
            &:hover #home-content{
                display: block !important;
            }
        }
        #services{
            padding-bottom: 40px;
            &:hover #services-content{
                display: block !important;
            }
        }
        #gallery{
            padding-bottom: 40px;
            &:hover #gallery-content{
                display: block !important;
            }
        }
        #pages{
            padding-bottom: 40px;
            &:hover #pages-content{
                display: block !important;
            }
        }
        #blog{
            padding-bottom: 40px;
            &:hover #blog-content{
                display: block !important;
            }
        }
        #appointment{
            padding-bottom: 40px;
            &:hover #appointment-content{
                display: block !important;
            }
        }
        #shop{
            padding-bottom: 40px;
            &:hover #shop-content{
                display: block !important;
            }
        }
        #contact {
            padding-bottom: 40px;
            &:hover #contact-content{
                display: block !important;
            }
        }
        .main-li{
            list-style: none;
            padding-right: 22px;
            transition: 0.5s;
            #home-content{
                border: 1px solid #CEC9C9;
                position: absolute;
                top: 68px;
                margin-left: -24px;
                width: 154px;
                background: white;
                z-index: 555;
                ul{
                    padding-left: 0px;
                    li{
                        list-style: none;
                        padding-top: 8px;
                        padding-left: 17px;
                    }
                }
                hr{
                    margin-top: 5px !important;
                    margin-bottom: 0px !important;
                }
            }
            #services-content{
                position: absolute;
                top: 68px;
                margin-left: -24px;
                width: 188px;
                background: white;
                border: 1px solid #CEC9C9;
                z-index: 555;
                ul{
                    padding-left: 0px;
                    li{
                        list-style: none;
                        padding-top: 8px;
                        padding-left: 17px;
                    }
                }
                hr{
                    margin-top: 5px !important;
                    margin-bottom: 0px !important;
                }
            }
            #gallery-content{
                position: absolute;
                top: 68px;
                margin-left: -24px;
                width: 188px;
                background: white;
                border: 1px solid #CEC9C9;
                z-index: 555;
                ul{
                    padding-left: 0px;
                    li{
                        list-style: none;
                        padding-top: 8px;
                        padding-left: 17px;
                    }
                }
                hr{
                    margin-top: 5px !important;
                    margin-bottom: 0px !important;
                }
            }
            #blog-content{
                position: absolute;
                top: 68px;
                margin-left: -24px;
                width: 188px;
                background: white;
                border: 1px solid #CEC9C9;
                z-index: 555;
                ul{
                    padding-left: 0px;
                    li{
                        list-style: none;
                        padding-top: 8px;
                        padding-left: 17px;
                    }
                }
                hr{
                    margin-top: 5px !important;
                    margin-bottom: 0px !important;
                }
            }
            #appointment-content{
                position: absolute;
                top: 68px;
                margin-left: -24px;
                width: 188px;
                background: white;
                border: 1px solid #CEC9C9;
                z-index: 555;
                ul{
                    padding-left: 0px;
                    li{
                        list-style: none;
                        padding-top: 8px;
                        padding-left: 17px;
                    }
                }
                hr{
                    margin-top: 5px !important;
                    margin-bottom: 0px !important;
                }
            }
            #shop-content{
                position: absolute;
                top: 68px;
                margin-left: -24px;
                width: 188px;
                background: white;
                border: 1px solid #CEC9C9;
                z-index: 555;
                ul{
                    padding-left: 0px;
                    li{
                        list-style: none;
                        padding-top: 8px;
                        padding-left: 17px;
                    }
                }
                hr{
                    margin-top: 5px !important;
                    margin-bottom: 0px !important;
                }
            }
            #contact-content{
                position: absolute;
                top: 68px;
                margin-left: -24px;
                width: 188px;
                background: white;
                border: 1px solid #CEC9C9;
                z-index: 555;
                ul{
                    padding-left: 0px;
                    li{
                        list-style: none;
                        padding-top: 8px;
                        padding-left: 17px;
                    }
                }
                hr{
                    margin-top: 5px !important;
                    margin-bottom: 0px !important;
                }
            }
            a{
                text-decoration: none;
                color: #777;
                font-family: 'Open Sans';
                font-size: 17px;
                &:hover{
                    color:#1E69B8 ;
                }
            }
        }
    
    


    }
}

#footer{
    margin-top: 40px;
    .head{
        display: flex;
        
        .head-icon{
            font-size: 31px;
            margin-top: 10px;
            margin-right: 33px;
        }
        .head-text{
                font-size: 21px;
                line-height: 32px;
                margin-top: 0;
                color: #FFF;
                font-weight: 400;
        }
    }
    .footer-bio{
        h6{
            font-size: 14px;
            line-height: 26px;
            font-weight: 600;
            color: #FFF;
        }
        hr{
            background-color: white;
            width: 51px;
            height: 1.5px;
            margin: 0px;
            margin-bottom: 13px;
        
        }
        p{
            font-family: 'Open Sans';
            font-size: 17px;
            line-height: 24px;
            color: #FFF;
        }
        ul{
            padding: 0px !important;
            margin: 0;

            li{
                list-style: none;
                list-style: none;
                padding-left: 0px !important;
                padding-top: 1px;
                padding-bottom: 1px;
                font-family: 'Open Sans';
                font-size: 17px;
                line-height: 24px;
                padding-left: 30px;
                border: none;
                color: #FFF;
                a{
                    color: #FFF;
                    

                }
                span{
                    margin-right: 10px;
                }
                i{
                    color: #AEAFB0;
                    margin-right:5px;
                }
            }
        }
        #footer-socilamedia{
            display: flex;
            margin-top: 17px;
            li{
                list-style: none;
                a{
                    transition: 0.4s;
                    i{
                        font-size: 18px;
                        margin-left: 15px;
                        &:hover{
                            color: #FFF;
                            transition: 0.4s;
                        }
                    }
                    
                }
                
            }
        }
    }
}
.owl-nav{
    display: none !important;
}

#whychooseus{
    button{
        border-radius: 0px;
        height: 54px;
        width: 168px;
        background: #1E69B8;
        transform: background-color 0.7s;
        
    }
    margin-top: 100px;
    h2{
        text-align: center;
    margin-top: 57px;
    font-family: 'Open Sans';
    font-size: 33px;
    }
    #base{
        width: 97px;
        background: #1E69B8;
        border-top: 4px solid rgba(0,0,0,.1);
    }
    #basep{
        text-align: center;
        font-size: 19px;
        font-family: 'Open Sans';
        color: #777;
        margin-top: 35px;
    }
    
    #selects{
        margin-top: 60px;
        #personal{
            .fa-hubspot{
                font-size: 49px;
                margin-left: 140px;
                color: #1E69B8;
            }
            h6{
                text-align: center;
                margin-top: 16px;
                font-family: 'Open Sans';
            }
            hr{
                width: 51px;
                background: #1E69B8;
                border-top: 2px solid rgba(0,0,0,.1);
            }
            p{
                text-align: center;
                margin-top: 22px;
                font-family: 'Open Sans';
                color: #777;
                font-size: 17px;
            }
        }
        #materials{
            .fa-tools{
                font-size: 42px;
                color: #1E69B8;
                margin-left: 149px;
            
            }
            h6{
                text-align: center;
                font-family: 'Open Sans';
                margin-top: 20px;
            }
            hr{
                width: 51px;
                background: #1E69B8;
                border-top: 2px solid rgba(0,0,0,.1);
            }
            p{
                text-align: center;
                margin-top: 25px;
                font-family: 'Open Sans';
                color: #777;
                font-size: 17px;
            }
        }
        #professional{
            .fa-car-side{
                font-size: 48px;
                color: #1E69B8;
                margin-left: 135px;
            }
            h6{
                text-align: center;
                margin-top: 16px;
                font-family: 'Open Sans';
            }
            hr{
                width: 51px;
                background: #1E69B8;
                border-top: 2px solid rgba(0,0,0,.1);
            }
            p{
                text-align: center;
                margin-top: 25px;
                font-family: 'Open Sans';
                color: #777;
                font-size: 17px;
            }

        }
        
    }
    
}
#vehiclesservice{
    margin-top: 37px;
    #right-col{
        background-color: #F5F5F5;
        .other{
            margin-top: 61px;
            #btn{
                display: flex;
                justify-content: center;
                margin-top: 60px;
                a{
                    border-radius: 0px;
                    height: 57px;
                    width: 150px;
                    border: 1px solid rgb(196, 194, 194);
                    background-color:#F5F5F5 ;
                    color: #1E69B8;
                    transition: background-color 0.7s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    &:hover{
                        background-color: #1E69B8;
                        color: white;
                        transition: background-color 0.7s;
                    }
                }
            }
           
                h2{
                    text-align: center;
                    font-weight: 300;
                }
                hr{
                    width: 79px;
                    background: #1E69B8;
                    border-top: 2px solid rgba(0,0,0,.1);
                }
                p{
                    text-align: center;
                    font-size: 17px;
                    color: #777;
                    font-weight: 300;
                }
                #lists{
                    margin-top: 44px;
                    ul{
                        li{
                            list-style: none;
                            font-weight: 300;
                            color: #777;
                           .fa-check{
                            margin-right: 10px;
                            font-size: 13px;
                            color: #1E69B8;
                           } 
                        }
                    }
                }
        }
       
        }
       
      
    }

#repair{
    margin-top: 75px;
h1{
    text-align: center;
    font-weight: 300;

}
hr{
    width: 97px;
    background: #1E69B8;
    border-top: 4px solid rgba(0,0,0,.1);
}
p{
    text-align: center;
    font-weight: 300;
    font-size: 19px;
    color: #77777B;
}

#rep-row{

    .all-service{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        a{
            button{
                color: #FFF;
                font-size: 16px;
                font-weight: 600;
                background: #1E69B8;
                text-align: center;
                line-height: normal;
                letter-spacing: 1px;
                border: none;
                border-radius: 0;
                width: 175px;
                height: 53px;
            }
        }
    }
    h4{
        background: #F5F5F5;
        padding: 17px 15px 18px 20px;
        display: flex;
        justify-content: space-between;
        a{
            color: black;
            transition: opacity 0.3s ease 0s;
            opacity: 1;
            font-size: 23px;
            margin-left: 17px;
            text-decoration: none;
            font-weight: 400;
            &:hover{
                color: #333;
                transition: opacity 0.3s ease 0s;
            }
        }
        .fa-chevron-right{
            cursor: pointer;
            font-size: 20px;
            color: #1E69B8;
            margin-top: 5px;
        }
    }
    
   
}
}
.parallax{
    height: 650px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .casousell{
        width: 100%;
        #icon{
        display: flex;
        justify-content: center;
        i{
            color: #FFF;
            font-size: 72px;
        }
           
    }
        }
       
        p{
            color: #FFF !important;
            font-size: 21px;
            text-align: center;
            font-weight: 500;
        }
        hr{
            background: #FFF;
            width: 70px;
            height: 4px;
        }
        h5{
            color: #FFF;
            text-align: center;
            font-weight: 500;
        
        }
    }

#companyOverview{
    .overviews{
        margin-top: 20px;
        h5{
            letter-spacing: 1.3px;
            font-weight: 500;
            font-size: 17px;
        }
        div{
            display: flex;
            i{
                font-size: 40px;
                color: #1E69B8;
                margin-right: 13px;
                margin-top:25px;
            }
        }
    }
    .companyOverview{
        margin-bottom:30px;
        h2{
            text-align: center;
            font-weight: 300;
        }
        hr{
            width: 95px;
            height: 2px;
            background: #1E69B8;
        }
        p{

            text-align: center;
            font-size: 19px;
            font-weight: 300;
        
        }
    }
}

#home-services{
    .servicesHome{
        padding: 0px;
        img{
            position: relative;
            
        }
        .service-content{
            position: absolute;
            left: 120px;
            top: 74px;
            z-index: 22;
            overflow: hidden;
            height: 130px;
            h6{
                margin-bottom: 19px;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                position: relative;
                top: -25px;
            }
            a{
                position: relative;
                bottom: -90px;
                border: 1px solid white;
                border-radius: 0px;
                background-color: transparent;
                width: 126px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
               
                &:hover{
                    background-color:#1E69B8;
                    transition: 0.7s ;
                }
                
               
            }
        }
        .layer{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            background: gray;
            opacity: 0;
            transition: 0.7s;
        }
    }
    
}
#mission-questions{
    h3{
        font-size: 22px;
        line-height: 34px;
        font-weight: 400;
    }
    hr{
        width: 60px;
        position: relative;
        left: 0px;
        margin: 0px;
        height: 2px;
        background-color: #1E69B8;
        margin-bottom: 20px;
    }
    #first-mission-text{
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0px;
        line-height: 32px;
        margin-top: 34px;
    }
    #second-mission-text{
        font-weight: 400;
        line-height: 26px;
        margin-top: 24px;
        padding: 0;
    }
    a{
        width: 145px;
        height: 59px;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#1E69B8 ;
    }
    .header-question{
        border-width: thin !important;
        border: solid #77777B;
        height: 46px;
        padding: 6px 10px;
        transition: 0.3s;
        &:hover{
            padding-left: 30px;
            padding-right: 10px;
            transition: 0.3s;
        }
    
        cursor: pointer;
        i{
            cursor: pointer;
            font-size: 20px;
            color: #1E69B8;
            margin-right: 8px;
        }
        span{
            font-weight: 300;
            font-size: 15px;
            color: #777;
            letter-spacing: normal;
            line-height: 28px;
            margin-bottom: 1px;
        }
    }
    .body-question{
        border-width: thin !important;
        border: solid #77777B;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
        border-top: none;
        p{
            font-weight: 300;
            line-height: 26px;
            padding: 0;
            text-align: justify;
        }
    }
}

#services-word{
    background-color: #F5F5F5;
    .ourServices{
        height: 100px;
        align-items: center;
        h1{
            font-size: 30px;
            line-height: 34px;
        }
    }
}
#servicess{
    .service-type{
        padding: 0px !important;
        div{
            position: relative;
            
            .overlay-service{
                background-color: grey;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
                opacity: 0;
                z-index: -333;
                transition: 0.6s;
            }
        }
        
        h1{
            
            a{
                text-decoration: none;
                color: black;
                margin-left: 14px;
                i{
                    color:#1E69B8;
                }
            }
            font-size: 21px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #F5F5F5;
            font-weight: 400;
            transition: 0.6s;
            &:hover{
                opacity: 0.7;
                transition: 0.6s;
            }
          
        }
       
    }
    
}
#servicedetailName{
    height: 95px;
    display: flex;
    align-items: center;
    background: #F5F5F5;

    h3{
        font-weight: 400;
    }
}
#sevicedetails{
    .servicesNamesList{
        .selected{
            background-color:#1E69B8 ;
            color: white;
        }
        ul{
            padding: 0px;
            li{
                list-style: none;
                display: flex;
                justify-content: space-between;
                background: transparent;
                border-bottom: 1px solid #E2E6E7;
                padding: 17px 18px 18px 19px;
                line-height: 24px;
                color: #777;
                cursor: pointer;
                i{
                    color: #777;
                    cursor: pointer;
                    color: #777;
                    cursor: pointer;
                    margin-top: 2px;
                    font-size: 20px;
                }
            }
            hr{
                margin: 0px;
            }
        }
    }
    .serviceDetails{
        .servicesImages{

            img{
                transition: 0.7s;
                &:hover{
                    opacity: 0.7;
                    transition: 0.7s;
                }
            }
        }
        .serviceDetailOverView{
            margin-top: 50px;
            h3{
                font-size: 22px;
                line-height: 34px;
                font-weight: 400;
            }
            hr{
                margin: 0px;
                margin-bottom: 25px;
                width: 60px;
                height: 2px;
                background: #1E69B8;
               
            }
            p{
                font-weight: 400;
                line-height: 26px;
                margin-top: 24px;
                padding: 0;
            }
        }
        .serviceDetailPricing{
            margin-top: 40px;
            h3{
                font-size: 22px;
                line-height: 34px;
                font-weight: 400;
            }
            hr{
                margin: 0px;
                margin-bottom: 30px;
                width: 79px;
                height: 2px;
                background: #1E69B8;
            }
            table{
                width: 100%;
                tr{
                    .name{
                        font-weight: 500;
                        padding: 18px 30px;
                        font-size: 14px;
                        line-height: 24px;
                        text-align: right;
                        border-left: none;
                    }
                    .value{
                        font-weight: 500;
                        padding: 18px 30px;
                        font-size: 14px;
                        line-height: 24px;
                        border-left: 1px solid #E2E6E7;
                    }
                }
            }
            
        }
        .serviceDetailDropDown-WhyCooshe{
            margin-top: 40px;
            display: flex;
            .serviceWhyCooshe{
                h3{
                    font-size: 24px;
                    font-weight: 400;
                }
                hr{
                    
                    margin: 0px;
                    margin-bottom: 30px;
                    width: 59px;
                    height: 1px;
                    background-color: #1E69B8;
                }
                p{
                    font-size: 15px;
                    font-weight: 400;
                }
                ul{
                    padding: 0px;
                    li{
                        list-style: none;
                        color: #777;
                        i{
                            color: #1E69B8;
                        }
                    }
                }
            }
            .serviceDetailDropDown{
                .question{
                    .header-question{
                        border-width: thin !important;
                        border: 1px solid;
                        height: 46px;
                        display: flex;
                        align-items: center;
                        i{
                            float: left;
                            margin-right: 20px;
                            font-size: 24px;
                            color: #1E69B8;
                            text-indent: 0;
                        }
                        span{
                            cursor: pointer;
                            font-weight: 300;
                            font-size: 18px;
                            color: #777;
                            letter-spacing: normal;
                            line-height: 28px;
                        }
                    }
                    .body-question{
                        .body-text{
                            border-width: thin !important;
                            border: 1px solid;
                            border-top: none;
                        }
                    }
                }
            }

        }
    }
    
}


