@model ServiceCategory
@{
    ViewData["Title"] = "Edit";
}

<div>
    <form method="post" style="display:flex">
        <div class="mr-3">
            <span>Name</span>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="alert-danger"></span>

        </div>
        <button type="submit" class="btn btn-success">Update Category</button>
    </form>

</div>

