@model Product
@{
    ViewData["Title"] = "Create";
}

<div>
    <form method="post" style="display:flex">
        <div class="mr-3">
            <span>Name</span>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="alert-danger"></span>

        </div>
        <button type="submit" class="btn btn-success">Create Category</button>
    </form>

</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
