@model Slider
@{
    ViewData["Title"] = "Delete";
}

    <div>
        <img style="width:200px !important;height:200px !important;margin-top:73px" src="~/img/slider/@Model.Image" alt="Alternate Text" />
        <form class="forms-sample mt-3" method="post">
            <button class="btn btn-danger">Delete Photo</button>
        </form>
        <a asp-action="Index" class="btn btn-primary mt-3 ml-3">Go Back</a>
    </div>


