@model Slider
@{
    ViewData["Title"] = "Detail";
}


<div class="col-6">
    <img style="width:200px !important;height:200px !important;display:block" src="~/img/slider/@Model.Image" alt="Alternate Text" />
    <a class="btn btn-facebook mt-4 ml-3" asp-action="Index">Go Back</a>
</div>

