@model IEnumerable<ServiceImage>
@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Service Image Table</h4>
                    <div class="table-responsive">
                        <a asp-controller="ServiceImages" asp-action="Create" class="btn btn-github mt-3">Create Service Image</a>
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th class="image">
                                        Image
                                    </th>
                                    <th>
                                        Setting
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ServiceImage service in Model)
                                {
                                    <tr>
                                       <td>
                                           <img style="width:120px;height:90px;" src="~/img/services/@service.Image"/>
                                       </td>

                                        <td>
                                            <a asp-controller="ServiceImages" asp-action="Edit" asp-route-id="@service.Id" class="btn btn-primary "><i class="mdi mdi-table-edit"></i></a>
                                            <a asp-controller="ServiceImages" asp-action="Delete" asp-route-id="@service.Id" class="btn btn-danger"><i class="mdi mdi-delete-forever"></i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

