@model ServiceCRUDvm
@{
    ViewData["Title"] = "Create";
}
@section Css{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
}
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
        <div class="mt-3">
            <span>Name</span>
            <input asp-for="Service.Name" class="form-control" placeholder="Service Name*"/>
            <span asp-validation-for="Service.Name" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <span>RearBrakesRepair</span>
            <input asp-for="Service.RearBrakesRepair" class="form-control" placeholder="RearBrakesRepair*"/>
            <span asp-validation-for="Service.RearBrakesRepair" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <span>RearBrakesShoes</span>
            <input asp-for="Service.RearBrakesShoes" class="form-control" placeholder="RearBrakesShoes*"/>
            <span asp-validation-for="Service.RearBrakesShoes" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <span>StartersAlternators</span>
            <input asp-for="Service.StartersAlternators" class="form-control" placeholder="StartersAlternators"/>
            <span asp-validation-for="Service.StartersAlternators" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <span>Axle</span>
            <input asp-for="Service.Axle" class="form-control" placeholder="Axle*"/>
            <span asp-validation-for="Service.Axle" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <span>FrontBrakesRepair</span>
            <input asp-for="Service.FrontBrakesRepair" class="form-control" placeholder="FrontBrakesRepair"/>
            <span asp-validation-for="Service.FrontBrakesRepair" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <span>Description</span>
            <input asp-for="Service.Description" class="form-control" placeholder="Description*"/>
            <span asp-validation-for="Service.Description" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <select class="form-control" id="selectCategory" name="categories">
                @foreach (ServiceCategory category in Model.ServiceCategories)
                {
                    <option value="@category.Name">@category.Name</option>
                }

            </select>
        </div>
        <button type="submit" class="btn btn-success">Create Service</button>
    </form>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $('.js-example-basic-multiple').select2();
    </script>
    <script>

    </script>

}
