@model ProductCrudVM
@{
    ViewData["Title"] = "Edit";
}

<div asp-validation-summary="ModelOnly"></div>
<form method="post" enctype="multipart/form-data">
    <div mt-3>
        <input asp-for="ProductImage.Photo" />
        <span asp-validation-for="ProductImage.Photo"></span>
    </div>
    <div mt-3>
        <span>Name</span>
        <input asp-for="ProductImage.Name" placeholder="Name" class="form-control" />
        <span asp-validation-for="ProductImage.Name"></span>
    </div>
    <div class="mt-3">
        <select class="form-control" id="selectCategory" name="product">
            @foreach (Product product in Model.Products)
            {
                if (Model.ProductImage.ProductId == product.Id)
                {
                    <option value="@product.Name" selected>@product.Name</option>
                }
                else
                {
                    <option value="@product.Name">@product.Name</option>
                }

            }

        </select>
    </div>
    <div class="mt-3">
        <select class="form-control" id="selectCategory" name="ismain">
            @if (Model.ProductImage.IsMain == true)
            {
                <option value="Main" selected>Main</option>
            }
            else
            {

                <option value="Main" selected>Main</option>
            }
            @if (Model.ProductImage.IsMain == false)
            {
                <option value="Minor" selected>Minor</option>
            }
            else
            {

                <option value="Minor">Minor</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Update Product</button>
</form>

